/* CSS QUESTIONS & QUESTIONS CARDS */
.question {
  position: relative;
  border: solid #fb88b4 0.5rem;
  border-radius: 2rem;
  margin: 2rem;
  padding: 10px;
}
.question-bookmark {
  position: absolute;
  top: -2px;
  right: -250px;
}

.question-bookmark image {
  width: 30px;
  fill: hotpink;
}

.box-question {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
}

.box-question--unvisible {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
}

.box-solution {
  display: none;
}
.box-solution--visible {
  display: block;
}

.box-solution .questions-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.questions-buttons button {
  background-color: #f9f07a;
  color: hotpink;
  border: #f9f07a 1px;
  padding: 0.5rem;
}

.hint--unvisible {
  visibility: hidden;
}

.hint--visible {
  visibility: visible;
}

.categories {
  display: flex;
  justify-content: end;
  gap: 2px;
  left: 1px;
  color: gray;
  font-size: small;
}
.categories p {
  padding: 1px;
}
